/*   VARIABLES    */
$dblue : #111F50;
$lblue: #F9FBFF;
$mblue: #F2F6FE;
$sblue: #171DD5; /*$dblue: #171DD5;*/
$white: #ffffff;
$black: #111F50;
$lgreen: #2BF260;

@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 1) {
/*    tohle pujde do @import  "hp_mobile.scss";    */
    body {
       
        section, .container {
             max-width: 425px;
             overflow: hidden;
             margin: 0 auto;
        }

    }
    #content-wrap {
        margin-top: 80px;
        max-width: 100%;
        overflow: hidden;
    }
    #ctl00_MainContent_Proveruj1_sectionProveruj {
        position: relative;
        #ctl00_MainContent_Proveruj1_divVideoWrapperCZ {
            border: none;
        }

        h1 {
            text-align: center;
            color: $black;
            font: normal normal bold 32px/32px Lexend Deca;
            letter-spacing: 0.45px;
            ::first-word {
               border-bottom: 8px solid $lgreen; 
            }
        }
        h2 {
            display: none;
        }
        .col-sm-6 div {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #D9DFF8;
            border-radius: 6px;    
            padding: 6px;

        }
        input#ctl00_MainContent_Proveruj1_nazev {
            width: 49% !important;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            display: inline-block;
            border: none;
        }

        input#ctl00_MainContent_Proveruj1_btnHomepageProverit{
            margin-top: 5px;
            float: right;
            background: transparent linear-gradient(180deg, #1657F8 0%, #1657F8 100%) 0% 0% no-repeat padding-box;
            box-shadow: inset 0px -4px 4px #111F5033, 2px 4px 16px #1655F766;
            border-radius: 6px;
            max-width: 105px;
        }


    }

    #sectionZpusobyPouziti {
        h2 {
            font: normal normal bold 20px/24px Lexend Deca;
            letter-spacing: 0.28px;
        }

        h3 {
            padding-top: 40px;
            font: normal normal bold 16px/8px Lexend Deca;
            letter-spacing: 0.22px;
            text-align: left;
        }

        .col-md-4 {
            /* padding-top: 78px 24px 36px 24px; */
            box-shadow: 0px 8px 24px #163CD10D;
            border: 1px solid #D9DFF8;
            border-radius: 6px;
            margin: 40px auto 24px auto;
            padding: 0 24px;

            img {
                width: 32px;
                position: relative;
                top: 15px;
            }

            p.zpusobPouzitiText {
                margin: 0;
                padding: 0;

                text-align: left;
                font: normal normal normal 14px/16px Lexend Deca;
                letter-spacing: 0.2px;
            }

            p.viceInformaci {
                position: relative;
                bottom: -20px;
                right: -70px;
                

                a {
    
                    padding: 15px;
                    font: normal normal 600 14px/8px Lexend Deca;
                    letter-spacing: 0.2px;
                    color: $sblue;
                    background: url("../../assets/images/arrow_right.png") no-repeat $lblue;
                    background-position: 100% 50%; 
                }


            }
        }
        .col-md-4:hover {
            border-color: $sblue;
        }

    }
    #sectionReference {
        overflow: hidden;


    }

    #ctl00_MainContent_DuverujBook1_sectionDuverujAleProveruj {
        background: $white !important;
        .container {
            background: $mblue !important;
            border-radius: 6px;
        }

        input#ctl00_MainContent_Proveruj1_btnHomepageProverit {
            background: transparent linear-gradient(180deg, #1657F8 0%, #1657F8 100%) 0% 0% no-repeat padding-box;
            box-shadow: inset 0px -4px 4px #111F5033, 2px 4px 16px #1655F766;
            border-radius: 6px;
        }

        #ctl00_MainContent_DuverujBook1_CtrlBtnGetEbook {
                    background: transparent linear-gradient(180deg, #1657F8 0%, #1657F8 100%) 0% 0% no-repeat padding-box;
                    box-shadow: inset 0px -4px 4px #111F5033, 2px 4px 16px #1655F766;
                    border-radius: 6px;
                    margin-bottom: 100px;;
        }
        #ctl00_MainContent_DuverujBook1_ctrl_DuverujAleProverujNadpis {
            text-align: center;
            font: normal normal bold 16px/24px Lexend Deca;
            letter-spacing: 0.22px;
        }
        #ctl00_MainContent_DuverujBook1_ctrl_DuverujAleProverujPodNadpis {
            display: none;
        }

        .form-group {
            text-align: center;
            margin-top: 40px;
        }
    }


    /* REFERENCE */
    #CtrlReferencePanel {
        width: auto;
        bottom: $white;
    }

    footer {
        background: $dblue url('../../assets/images/logo_footer_bg.png') no-repeat 180% 110%;
        .container {
            background: transparent;
        }

        p.fontWeightNormal.whiteText {
            margin: 40px auto;
            text-align: center;
        }
        
        .col-md-3 {
            margin-bottom: 60px;
        }

    }



    #sectionZpusobyProverovani {
        .footerHeaderRow {
            display: none;
        }

        
        img {
            display: block;
            margin: 40px auto !important;
            float: none !important;
            height: 16px !important;
        }

        #ctl00_Footer1_ctrlFooterMailTo, #ctl00_Footer1_ctrlFooterTel {
            display: block;
            text-align: center;
            font: normal normal medium 16px/24px Lexend Deca;
            letter-spacing: 0.22px;
            color: $lgreen;
            background-position: 0 0  ;
            padding: auto 20px;
            width: auto;
            margin: 0 auto;

        }
        
        #ctl00_Footer1_ctrlFooterMailTo, #ctl00_Footer1_ctrlFooterTel  {
            a img {
                margin: 0 !important;
                padding: 0  !important;
                float: none !important;
            } 
        }
        #ctl00_Footer1_ctrlFooterTel {
            
        }
        
    }

    #aboutUs {
        .mdbr{
            border-right: 1px solid pink;
        } 

        .lsq {
            display: none;
        }
    }
    


}